<button 
    mat-icon-button 
    class="top-right-close-button" 
    mat-dialog-close 
    aria-label="Close"
  >
    <mat-icon>close</mat-icon>
  </button>
<div class="form-container">
  <h2 class="update-recipe-heading">Update Recipe : {{ recipeItem.id }}</h2>
  <form (ngSubmit)="onSubmit()">
    <!-- Title Field -->
    <div class="mb-4">
      <mat-form-field class="w-full">
        <mat-label class="text-gray-200">Title</mat-label>
        <input
          matInput
          placeholder="title..."
          value="recipeItem.title"
          name="title"
          [(ngModel)]="recipeItem.title"
          class="py-2 px-3 text-gray-200 mt-1 focus:shadow-outline"
        />
      </mat-form-field>
    </div>
    <!-- Description Field -->
    <div class="mb-4">
      <mat-form-field class="w-full">
        <mat-label class="text-gray-200">Description</mat-label>
        <textarea
          matInput
          placeholder="description..."
          value="recipeItem.description"
          name="description"
          [(ngModel)]="recipeItem.description"
          rows="4"
          class="py-2 px-3 text-gray-200 mt-1 focus:shadow-outline"
        >
        </textarea>
      </mat-form-field>
    </div>
    <!-- Image Field -->
    <div class="mb-4">
      <mat-form-field class="w-full">
        <mat-label class="text-gray-200">Image</mat-label>
        <input
          matInput
          placeholder="image url..."
          value="recipeItem.image"
          name="image"
          [(ngModel)]="recipeItem.image"
          class="py-2 px-3 text-gray-200 mt-1 focus:shadow-outline"
        />
      </mat-form-field>
    </div>
    <!-- Category Field -->
    <div class="food-type-container mb-4">
      <label class="block mb-2">Food Type</label>
      <mat-radio-group
        [(ngModel)]="recipeItem.category"
        name="category"
        value="recipeItem.category"
        required
      >
        <mat-radio-button value="Vegetarian">Vegetarian</mat-radio-button>
        <mat-radio-button value="Non-Vegetarian"
          >Non-Vegetarian</mat-radio-button
        >
      </mat-radio-group>
    </div>

    <div>
      <div
        *ngFor="
          let ingredient of recipeItem.ingredients;
          let i = index;
          trackBy: trackByIndex
        "
        class="input-row"
      >
        <mat-form-field class="input-field">
          <mat-label>Ingredient</mat-label>
          <input
            matInput
            placeholder="Add ingredient..."
            value="recipeItem.ingredients"
            [(ngModel)]="recipeItem.ingredients[i]"
            name="ingredient-{{ i }}"
          />
        </mat-form-field>
        <button
          mat-icon-button
          type="button"
          color="warn"
          (click)="removeIngredient(i)"
          aria-label="Remove ingredient"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <div class="add-ingredient-container">
        <button
          mat-fab
          extended
          type="button"
          color="primary"
          class="add-ingredient-button"
          (click)="addIngredient()"
        >
          <mat-icon>add</mat-icon>
          Ingredients
        </button>
      </div>
    </div>

    <!-- Instructions -->
    <div class="mt-6 recipe-instructions">
      <label class="text-gray-200 mb-2 block">Instructions</label>
      <mat-form-field class="w-full">
        <textarea
          matInput
          placeholder="Enter the procedure..."
          [(ngModel)]="recipeItem.instructions"
          value="recipeItem.instructions"
          name="instructions"
          rows="5"
          class="py-2 px-3 text-gray-200 mt-1 focus:shadow-outline"
        ></textarea>
      </mat-form-field>
    </div>

    <div>
      <button
        mat-raised-button
        color="primary"
        class="update-recipe-button"
        type="submit"
      >
        Update
      </button>
    </div>
  </form>
</div>
