/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #303030;
  color: white;
}
.custom-toolbar {
  background-color: #d81b60 !important; /* Pink color with higher priority */
  color: white !important; /* Ensures the text color is white */
}


@tailwind base;
@tailwind components;
@tailwind utilities;
